* {
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
}
span {
  color: white;
}
html,
body {
  height: 100%;
}
body {
  margin: 0;
  background: linear-gradient(124.53deg, #fc3f5f 0%, #7d61ff 100.32%);
  background-repeat: no-repeat;
  padding: 50px;
}
ul {
  margin: 0;
  padding: 0;
}
li {
  list-style: none;
}
a {
  text-decoration: none;
}
.wrapper {
  position: fixed;
  width: 100%;
  height: 100%;
  overflow: auto;
  left: 0;
  padding: 50px;
  top: 0;
}
.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.header-links {
  display: flex;
  align-items: center;
  gap: 64px;
}
.container {
  max-width: 1410px;
  margin-inline: auto;
  padding: 32px;
  background: linear-gradient(
    180deg,
    rgba(43, 34, 21, 0.8) -1.22%,
    #22282e 101.33%
  );
  box-shadow: 0px 0px 250px rgba(0, 0, 0, 0.3);
  border-radius: 32px;
}
.header-links a {
  font-weight: 300;
  font-size: 14px;
  line-height: 21px;
  color: #a0a3a7;
}
.btn {
  display: inline-block;
  background: linear-gradient(93.22deg, #e1e1e1 8.37%, #ffffff 99.95%);
  box-shadow: 0px 4px 50px rgba(37, 37, 37, 0.08),
    inset 1px 1px 1px rgba(135, 135, 135, 0.32);
  border-radius: 999px;
  border: 0;
  padding: 16px 24px;
  font-weight: 600;
  font-size: 14px;
  line-height: 21px;
  color: #24282e;
  cursor: pointer;
}
.header-download,
.header-logo {
  cursor: pointer;
  width: 175px;
}
.main {
  margin-top: 227px;
  max-width: 598px;
  margin-inline: auto;
  text-align: center;
}
.main-title {
  font-weight: 400;
  font-size: 72px;
  line-height: 108px;
  text-align: center;
  color: #f2f4f7;
  margin-bottom: 32px;
}
.main-desc {
  font-weight: 300;
  font-size: 18px;
  line-height: 27px;
  text-align: center;
  color: #f2f4f7;
  margin-bottom: 80px;
}
.main-btn {
  display: inline-block;
  padding: 16px 32px;
  border-radius: 999px;
  border: 2px solid #fc40f4;
  min-width: 239px;
  box-sizing: border-box;
  font-weight: 600;
  font-size: 18px;
  line-height: 27px;
  color: #fc40f4;
}
.loaders {
  margin-top: 80px;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 32px;
  margin-bottom: 177px;
}
#menu,
#menuCheckbox,
#close,
label {
  display: none;
}

@media screen and (max-width: 992px) {
  .header-download {
    display: none;
  }
  .main {
    margin-top: 75px;
  }
  .main-title {
    font-size: 40px;
    line-height: 80px;
  }
  .main-desc {
    font-size: 14px;
    line-height: 18px;
  }
  .main-btn {
    min-width: 150px;
  }
  .loaders {
    margin-bottom: 0px;
  }
}
@media screen and (max-width: 576px) {
  .loaders {
    margin-bottom: 0px;
  }
  label {
    display: inline-block;
  }
  .wrapper {
    padding: 20px;
  }
  #close {
    display: none;
  }
  #menu {
    display: inline-block;
  }
  .header-links {
    position: fixed;
    padding: 50px;
    left: 0;
    top: 0;
    background: #333;
    flex-direction: column;
    justify-content: center;
    height: 100%;
    transform: translateX(-150%);
    transition: 0.2s all ease-in-out;
  }
  #menuCheckbox {
    display: none;
  }
  #menuCheckbox:checked ~ .header-links {
    transform: translateX(0);
  }
  #menuCheckbox:checked ~ label #close {
    display: inline-block;
  }
  #menuCheckbox:checked ~ .label #menu {
    display: none;
  }
}
